h1 {
    color: #d52229;
    margin-top: 1em;
    margin-bottom: 1em;
}

body {
    background-color: #f9fafb
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-text {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
}

.icon {
    width: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.valdo:hover {
    color: #a9bcc5;
}

.github:hover {
    color: #000000;
}

.twitter:hover {
    color: #52a7e8;
}

.icon > a {
    color: inherit;
}

.mail:hover {
    color: #fca521;
}

.footer-icons {
    color: #d52229;
    display: flex;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-direction: row;
    justify-content: center;
}

.navbar {
    background-color: #d52229;
}
.footer-text > strong {
    color: #d52229;
}

.invisible{
    display: none;
}

.btn-order {
    margin-left: 2px;
    background-color: #d52229;
    color: #d52229;
}

.btn {
    color: #f9fafb !important;
}

.btn-dark {
    background-color: #f9fafb !important;
    border-color: #f9fafb !important;
    color: #d52229 !important;
}

th {
    color: #f9fafb !important;
    min-width: 140px !important;
    text-align: center;
}

td {
    text-align: center;
}

thead {
    background-color: #d52229 !important;
}

.scrollme {
    overflow-x: auto;
}

.table th:first-child, .table td:first-child {
      position: sticky;
      left: 0;
      /* background-color: #404346; */
      /* border-color: #404346; */
      /* color: #f9fafb !important; */
}

.table th:first-child > .btn {
    color: #f9fafb !important;
    background-color: #404346 !important;
    border-color: #404346 !important;
}

.table th:first-child > .btn-dark {
    background-color: #f9fafb !important;
    border-color: #f9fafb !important;
    color: #404346 !important;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none;
}
